
.header{
    min-height: 0px;
    padding-top: 18px;
    background: #A9A9A9;
    box-shadow: 0 0 10px #000;
  
    min-height: 500px;
}

.header img{
    width: 100px;
    transform: translatex(-10%);
}


.header a.title {
    color: #000;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    left: 30%;
    transform: translatex(-10%);
}

.nav-link{
    
    color: #000;
}
.nav-link:hover{
    color: #ccad00;
}
.navbar-toggler .fa{
  
    color: #000;
}

.menu-bar{
    min-height: 112px;
    padding-top: 22px;
    background: #f6f6f6;
    box-shadow: 0 0 10px #000;
    margin-bottom: 1px;
}

.menu-bar img{
    width: 93px;
    margin-left:39px;
    transform: translatex(-19%);
}

.menu-bar a.title {
    color: #000;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    left: 47%;
    transform: translatex(-21%);
}
@media screen and (max-width:600px){
    .menu-bar a.title{
        font-size: 29px;
    }
    .menu-bar img{
      width:65px;
    }
}

.nav-link{
    
    color: #000;
}
.nav-item a{  
    font-size: 21px;
    margin-right:8px;
}

.nav-link:hover{
    color: #ccad00;
}
.navbar-toggler .fa{
  
    color: rgb(194, 185, 185);
}
