

.background{
    background-image: url("images/banner4.jpg");
    min-height: 87.5vh;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
 
}


.checkbox{
    text-align: center;
    padding-top: 35px;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 10px;
}

.titulo h1{
    padding-bottom: 30px;
    text-align: center;
    margin-top: 50px;
}


.box{
    
    width: 29%;
    height: 450px;
    margin:20px;
    box-sizing: border-box;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
    box-shadow: 0px 0px 6px 0px #e5474b;
    border-radius: 10px;
    background: #f6f6f6
}


@media screen and (max-width:1400px){
    .box{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    .box{
        width: 90%;
   
    }
}

.botao{
    box-shadow: 0px 0px 6px 0px #e5474b;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #f6f6f6;
    width: 100px;
    height: 45px;
}

